*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    $mobile: 375px;
    $tablet: 885px;
    $tablet-plus: 1085px;
    $desktop: 1440px;
    $color-DarkBlue: hsl(233, 26%, 24%);
    $color-LimeGreen: hsl(136, 65%, 51%);
    $color-BrightCyan: hsl(192, 70%, 51%);
    $color-GrayishBlue: hsl(233, 8%, 62%);
    $color-LightGrayishBlue: hsl(220, 16%, 96%);
    $color-VeryLightGray: hsl(0, 0%, 97%);
    $color-White: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    color: $color-DarkBlue;
    overflow-x: hidden;
    width: 100vw;
    position: relative;

    p {
        line-height: 1.45rem;
        color: $color-GrayishBlue;
    }

    @mixin mobile {
        @media (max-width: #{$mobile}) {
            @content;
        }
    }

    @mixin tablet {
        @media (max-width: #{$tablet}) {
            @content;
        }
    }
    @mixin tablet-plus {
        @media (max-width: #{$tablet-plus}) {
            @content;
        }
    }

    @mixin desktop {
        @media (min-width: #{$desktop}) {
            @content;
        }
    }

    .linear-btn {
        padding: 10px 26px;
        border-radius: 25px;
        cursor: pointer;
        color: $color-White;
        background: linear-gradient(to right, $color-LimeGreen, $color-BrightCyan);
        font-weight: 300;
        display: inline-block;
        text-align: center;

        &:hover {
            opacity: 0.72;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 68px;
        padding: 0px 7%;
        position: relative;
        background-color: $color-White;
        z-index: 2;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            display: flex;
            align-items: center;
            height: 100%;

            div {
                margin: 0 15px;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    border-bottom: solid 3px $color-LimeGreen;
                    margin-bottom: -3px;
                }
            }
        }

        .hamburgermenu {
            // hide while width is small enough
            display: none;
        }
        #close-nav {
            display: none;
        }

        @include tablet() {
            .request,
            .content,
            .linear-btn {
                display: none;
            }

            .hamburgermenu {
                display: flex;
                cursor: pointer;
                padding: 7px; // padding so the user can click it easier
            }
        }
    }

    &.toogle-nav {
        .mobile-nav {
            display: initial;
        }
        .hamburgermenu {
            // hide while width is small enough
            display: initial;
        }
        #hamburgerMenu-img {
            display: none;
        }
        #close-nav {
            display: initial;
        }
    }
    .mobile-nav {
        display: none;
        // background: hsla(233, 26%, 24%, 0.459);
        z-index: 5;
        width: 100vw;
        // top: 68px;
        position: absolute;
        height: calc(100vh - 68px);
        padding: 26px;

        .content {
            display: grid;
            padding: 26px 0;
            grid-template-rows: repeat(5, 1fr);
            row-gap: 26px;
            background: $color-White;
            justify-content: center;
            text-align: center;
            color: $color-DarkBlue;

            & p:hover {
                cursor: pointer;
                color: $color-LimeGreen;
            }
        }
    }

    .heroBanner {
        height: 500px;
        background: $color-LightGrayishBlue;
        width: 100vw;
        position: relative;

        .text {
            max-width: 62ch;
            display: flex;
            position: absolute;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 7%;
            padding-right: 100px;
            top: 50%;
            transform: translateY(-50%);
            row-gap: 25px;

            h1 {
                font-size: 2.5rem;
                font-weight: 300;
            }

            p {
                line-height: 1.65rem;
                font-weight: 300;
                color: $color-GrayishBlue;
            }

            & .linear-btn {
                display: block;
            }
        }

        .images {
            position: relative;
            height: 100%;

            img {
                position: absolute;
            }
            #hb-bg-container {
                overflow: hidden;
                height: 100%;
                width: 100%;
                position: absolute;
                img {
                    height: 135%;
                    right: -150px;
                    top: -150px;
                }
            }
            #hb-mockups-container {
                position: absolute;
                width: 100%;
                height: 100%;
                img {
                    height: 150%;
                    right: -6%;

                    top: -100px;
                }
            }
        }

        @include tablet-plus() {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: auto;

            > .text {
                position: relative;
                padding: 10px 40px;
                text-align: center;
                width: 100%;
                max-width: 70ch;
                top: 0%;
                row-gap: 0px;
                transform: translateY(0%);

                > h1 {
                    font-size: 2rem;
                    width: 100%;
                    padding: 16px 0 22px 0;
                }
                & .linear-btn {
                    margin: 22px auto 0 auto;
                }
            }

            > .images {
                height: 430px;
                width: 100%;
                img {
                    position: relative;
                }

                overflow-y: hidden;
                #hb-bg-container {
                    height: 100%;
                    width: 100%;
                    position: absolute;

                    img {
                        height: 130vw;
                        right: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -220px;
                    }
                }
                #hb-mockups-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        height: 140%;
                        right: 0%;
                        left: 50%;
                        transform: translateX(-50%);

                        top: -175px;
                    }
                }
            }
        }
    }

    .info-container {
        padding: 65px 7%;
        background-color: $color-LightGrayishBlue;

        & > h2 {
            font-weight: 400;
            padding-bottom: 23px;
        }

        & > p {
            font-weight: 300;
            font-size: 0.9rem;
            max-width: 50ch;
            color: $color-GrayishBlue;
        }

        .cards-container {
            display: grid;
            padding-top: 46px;
            grid-template-columns: repeat(auto-fit, 240px);
            column-gap: 25px;
            row-gap: 25px;

            > .card {
                > img {
                    margin-bottom: 22px;
                }

                > h3 {
                    font-weight: 400;
                    font-size: 1.1rem;
                    margin-bottom: 18px;
                }

                > p {
                    font-weight: 300;
                    font-size: 0.9rem;
                    color: $color-GrayishBlue;
                }
            }
        }

        @include tablet() {
            & > h2 {
                text-align: center;
                padding-bottom: 17px;
            }
            & > p {
                max-width: 36ch;
                margin: 0 auto;
                text-align: center;
            }
            .cards-container {
                grid-template-columns: 1fr;
                row-gap: 50px;

                > .card {
                    max-width: 350px;
                    text-align: center;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    > h3 {
                        font-size: 1.15rem;
                    }

                    > p {
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }

    .articles {
        background: $color-LightGrayishBlue;
        padding: 55px 7%;
        font-weight: 300;
        background-color: $color-VeryLightGray;

        h1 {
            font-size: 1.75em;
            padding-bottom: 50px;
        }

        > .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, 270px);
            column-gap: 25px;
            row-gap: 25px;

            > .card {
                height: 380px;
                background-color: $color-White;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;

                > .img {
                    height: 185px;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                    background-position: center;
                    background-size: cover;
                    background-image: url('./images/image-currency.jpg');
                }
                &:nth-child(2) {
                    > .img {
                        background-image: url('./images/image-restaurant.jpg');
                    }
                }
                &:nth-child(3) {
                    > .img {
                        background-image: url('./images/image-plane.jpg');
                    }
                }
                &:nth-child(4) {
                    > .img {
                        background-image: url('./images/image-confetti.jpg');
                    }
                }

                > div {
                    padding: 18px 22px;

                    p.auther {
                        font-size: 0.8rem;
                        color: $color-GrayishBlue;
                    }

                    h4 {
                        font-size: 1rem;
                        padding: 10px 0;
                        cursor: pointer;
                        &:hover {
                            color: $color-LimeGreen;
                            opacity: 0.9;
                        }
                    }
                    h5 {
                        font-size: 0.75rem;
                        font-weight: 300;
                        line-height: 1.2rem;
                        color: $color-GrayishBlue;
                    }
                }
            }
        }
        @include tablet() {
            padding: 40px 40px;
            h1 {
                font-size: 1.7em;
                text-align: center;
                padding-bottom: 25px;
            }

            > .cards {
                display: grid;
                justify-content: center;
                place-items: center;
                grid-template-columns: 1fr;
                column-gap: 25px;
                row-gap: 25px;
                > .card {
                    min-height: 380px;
                    max-width: 350px;
                }
            }
        }
    }

    footer {
        background: $color-DarkBlue;
        padding: 60px 7%;
        color: $color-White;
        min-height: 215px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: stretch;

        > :is(.der, .socials) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .socials > .icons > img {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
        }

        > .details {
            width: 100%;
            display: flex;

            > div {
                padding-left: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                p {
                    color: $color-VeryLightGray;
                    font-weight: 300;
                    cursor: pointer;
                    &:hover {
                        color: $color-LimeGreen;
                        opacity: 0.92;
                    }
                }
            }
        }
        > .der {
            align-items: center;

            white-space: nowrap;

            p {
                color: $color-GrayishBlue;
            }
        }
        @include tablet-plus() {
            padding: 30px 0px;
            flex-wrap: wrap;
            align-items: center;

            > .socials {
                width: 200px;
                > img {
                    width: 150px;
                    margin: 0 auto;
                }
                > .icons {
                    display: grid;
                    padding-top: 20px;
                    grid-template-columns: repeat(5, 28px);
                    justify-content: space-between;

                    img {
                        width: 100%;
                    }
                }
            }
            > .details {
                display: flex;

                flex-direction: column;
                justify-content: space-between;
                padding: 25px 0;

                > div {
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        padding: 8px 0px;
                    }
                }
            }
            > .der {
                align-items: center;
                white-space: nowrap;

                p {
                    padding-top: 25px;
                    color: $color-GrayishBlue;
                }
            }
        }
    }
}
